body {
    background-color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: sans-serif;
    margin: auto;
}

h1 {
    color: rgba(111, 0, 255, 0.671);
    font-size: 40px;
}

p {
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;
    color: darkslategray;
}

a {
    color: blue;
}

a:hover{
    color: lightblue;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.space{
    margin-top: 80px;
}

.space2{
    margin-top: 40px;
}

.btn{
    text-decoration: none;
    padding: 15px;
    border: 2px solid rgba(111, 0, 255, 0.671);
    border-radius: 15px;
    background-color: rgba(111, 0, 255, 0.671);
    color: white;
}

.container{
    background-color: rgb(229, 209, 255);
    border: 3px solid rgba(111, 0, 255, 0.671);
    border-radius: 15px;
    min-height: 400px;
    max-width: 400px;
    height: auto;
    margin: auto;
}